@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
}

button:hover{
    cursor: pointer;
}

/* style banner section */

#banner{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1440px;
    margin: 0 auto;
    /* margin-bottom: 70px; */
}
#banner .banner-container{
    width: 998px;
    margin: 0 auto;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
#banner .banner-container img{
    margin-bottom: 30px;
}
#banner .banner-title .title{
    font-size: 38px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}
#banner .banner-title .subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-bottom: 30px;
}

#banner .banner-container button{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    background-color: rgb(13, 19, 33);
    padding: 21px 24px;
    border-radius: 8px;
    margin-bottom: 42px;
}

/* style reason section */

#reason-container{
    background-image: linear-gradient(180deg, rgba(13, 19, 33, 0.02),rgba(255, 255, 254, 0));
    max-width: 1140px;
    margin: 70px auto;
    padding: 75px 90px;
    border-radius: 16px;
}
#reason-container .title-container .title{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 22px;
    letter-spacing: 0%;
    text-align: center;
}
#reason-container .title-container .subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 46px;
    letter-spacing: 0%;
    text-align: center;
}
#reason-container .reason-1{
    width: 850px;
    margin: 0 auto;
    padding: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
#reason-container .reason-1 h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 15px;

}
#reason-container .reason-1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 30px;
}
#reason-container .reason-1 .btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align:left;
    border: 1px solid rgb(13, 19, 33);
    padding: 10px 18px;
    opacity: 0.7;
}
#reason-container .reason-2{
    width: 850px;
    margin: 0 auto;
    padding: 46px;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 10px;
}
#reason-container .reason-2 h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 15px;

}
#reason-container .reason-2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 30px;
}
#reason-container .reason-2 .btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align:left;
    border: 1px solid rgb(13, 19, 33);
    padding: 10px 18px;
    opacity: 0.7;
}
#reason-container .reason-3{
    width: 850px;
    margin: 0 auto;
    padding: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
#reason-container .reason-3 h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 15px;

}
#reason-container .reason-3 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 30px;
}
#reason-container .reason-3 .btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align:left;
    border: 1px solid rgb(13, 19, 33);
    padding: 10px 18px;
    opacity: 0.7;
}

/* style inspiration section */

#inspiration-container{
    width: 1140px;
    margin: 0px auto;
    margin-bottom: 100px;
}
#inspiration-container h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
    text-align: center; 
    letter-spacing: 0%;
}
#inspiration-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
    text-align: center; 
    letter-spacing: 0%;
    opacity: 0.7;
}
#inspiration-container .video{
    border-radius: 16px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
}
#inspiration-container .video iframe{
    border-radius: 16px;
}

/* style current target section */

#current-target{
    width: 1140px;
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 100px;
}
#current-target .title-container{
    letter-spacing: 0%;
    text-align: center;
}
#current-target .title-container .title{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}
#current-target .title-container .subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
    opacity: 0.7;
}
#current-target .target-cards-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 24px;
}
#current-target .html-card{
    width: 284px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
}
#current-target .html-card h1{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}
#current-target .html-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 24px;
    opacity: 0.7;
}
#current-target .html-card a{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

#current-target .css-card{
    width: 284px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}
#current-target .css-card h1{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}
#current-target .css-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 24px;
    opacity: 0.7;
}
#current-target .css-card a{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

#current-target .js-card{
    width: 284px;
    letter-spacing: 0%;
    text-align: left;
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
}
#current-target .js-card h1{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}
#current-target .js-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 24px;
    opacity: 0.7;
}
#current-target .js-card a{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/* style next target section */

